<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Video+GPUImage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>33A344D21F46BEE60041D78F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33A344EB1F46BEE80041D78F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33A344F61F46BEE80041D78F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
